/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: 35rem;
  background: radial-gradient(circle at 0 100%, #6000ce, #2370ff);
  padding: 2rem;
  color: white;
}

.split {
  display: flex;
  align-items: center;
}

.split > * ~ * {
  margin-left: 1rem;
  flex-grow: 1;
}

@media (max-width: 970px) {
  .split > * ~ * {
    display: none;
  }

  .split {
    display: block;
  }

  .split > *:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .heroBanner {
    text-align: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
